@import '../../variables';

.project {
  text-align: center;

  h3 {
    font-size: 3.2rem;
    color: $white-color;
    font-family: $font-accent;
    font-weight: 400;
  }
  img {
    max-width: 70%;
    height: auto;
    border-radius: 2px;
  }

  p {
    max-width: 57%;
    margin: auto;
  }

  &__description {
    font-size: 1.5rem;
    color: $white-color;
  }

  a {
    font-size: 1.3rem;
  }
}