@import '../../variables.scss';

.projects {
  text-align: center;
  margin: 4rem 0;

  &__header {
    color: $white-color;
    font-size: 3rem;
    font-family: $font-sans-serif;
    font-weight: lighter;
  }

  &__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8rem 1rem;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
}
