@import '../../variables';

.about {
  text-align: center;
  border: solid 8rem rgb(39,38,37);


  section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    .about-block {

      h2 {
        font-family: $font-sans-serif;
        font-size:8rem;
        color: $white-color;
      }
      &__text {
        font-size: 4rem;
      }
      &__contact {
        margin: auto;
        font-size: 2rem;
        font-family: $font-accent;
        color: $white-color;
        border: 2px solid rgb(201, 66, 66);
        width: 80%;
      }
    }

    img {
      border-radius: 50%;
      height: 42rem;
      box-shadow: 10px -5px 24px -6px rgba(20,20,20,1);

    }
  }

}

.about-back {
}