$color-grey-dark: #777; 
$black-color: #202020;
$white-color: rgb(230, 230, 230);
$red-color: rgb(247, 71, 78);
$color-grey-dark: rgb(119, 119, 119);

$font-serif: 'Playfair Display', serif;
$font-sans-serif: 'Montserrat', sans-serif;